@inject WebsiteSettings Settings

<Section Id="gold-sponsors" HeaderText="Gold sponsors" Background="true" FadeUp="true">

    <div class="row justify-content-center g-3">
        @foreach (var sponsor in _randomGoldSponsors)
        {
            <div class="col-6 col-md-4">
                <GoldSponsorCard Name="@sponsor.Name" ImageUrl="@sponsor.ImageUrl" Url="@sponsor.WebsiteUrl" />
            </div>
        }
    </div>
    
</Section>

<Section Id="community-sponsors" HeaderText="Community sponsors" FadeUp="true">

    <div class="row justify-content-center g-3">
        @foreach (var sponsor in _randomCommunitySponsors)
        {
            <div class="col-4 col-md-3">
                <CommunitySponsorCard Name="@sponsor.Name" ImageUrl="@sponsor.ImageUrl" Url="@sponsor.WebsiteUrl" />
            </div>
        }
    </div>

</Section>

@code {

    private List<Sponsor> _randomGoldSponsors = default!;
    private List<Sponsor> _randomCommunitySponsors = default!;

    protected override void OnInitialized()
    {
        _randomGoldSponsors = Settings.GoldSponsors.OrderBy(_ => Guid.NewGuid()).ToList();
        _randomCommunitySponsors = Settings.CommunitySponsors.OrderBy(_ => Guid.NewGuid()).ToList();
    }
}