@page "/{Edition}/session/{SessionId}"
@using System.ComponentModel
@using AzureFest.Web.Services
@inject EventDetailsProvider EventDetailsProvider
@inject WebsiteSettings Settings

@if (_session is not null)
{
    <PageTitle>@_session.Title | Azure Fest</PageTitle>

    <HeaderSpacer />

    <Section HeaderText="@_session.Title">

        <div class="row">
            <div class="card p-0">
                @if (_session.StartsAt.HasValue)
                {
                    <div class="card-header">
                        <h2>@FormatTimeLocation(_session)</h2>
                    </div>
                }
                <div class="card-body">
                    <p>@((MarkupString)(_session.Description ?? string.Empty).Replace("\r\n", "<br/>"))</p>
                    @if (Settings.ScheduleAnnounced)
                    {
                        <h6>
                            <span class="badge rounded-pill room">@_session.Room</span>
                        </h6>
                    }
                </div>
                <div class="card-footer d-flex justify-content-center">
                    @foreach (var speaker in _session.Speakers)
                    {
                        <SpeakerCard Edition="@Edition" Speaker="speaker" />
                    }
                </div>
            </div>
        </div>

    </Section>
}

@code
{
    [Parameter]
    public string Edition { get; set; } = string.Empty;

    [Parameter]
    public string SessionId { get; set; } = string.Empty;

    private Session? _session;

    protected override async Task OnInitializedAsync()
    {
        _session = await EventDetailsProvider.GetSessionAsync(Edition, SessionId);
    }

    private string FormatTimeLocation(Session session)
    {
        if (Settings.ScheduleAnnounced && session.StartsAt is not null && session.EndsAt is not null)
        {
            return $"{session.StartsAt.Value:dddd dd MMM HH:mm} - {session.EndsAt.Value:HH:mm}";
        }

        return string.Empty;
    }
}